@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=Monoton&display=swap');

html {
    box-sizing:border-box; 
    font-family: 'IBM Plex Mono', monospace;
    font:400 1em;
}
*, *::before, *::after {
    box-sizing:inherit; 
}
::selection {
    background: rgb(255, 250, 100);
}
.box5 ::selection {
    background: gold;
}
.box5 h2{
    color:aquamarine;
}


body {
    margin: 0;
    max-width: 100%;
    background-color: cadetblue;
}
#main-menu a:link, #main-menu a:visited, #main-menu a:active{
    color: rgb(255, 250, 100);
    text-decoration:none;

}
#main-menu a:hover {
    text-decoration: underline;
    color: white;
}
#main-menu ul {
    margin:0;
    padding-right: 8em;
    font-size: 1.25em;
}
#main-menu li{
    display:inline-block;
    margin-right:2em;
}

h1{
    padding-top: 3.5em;
    background-color: rgb(255, 250, 100);
    color:darkslategrey;
    animation: openclose 8s ease-in-out infinite;
}
hr{
    border: 1px solid white;
}
.profile{
    /* filter: drop-shadow(0.4rem 0.4rem 0.45rem rgba(0, 0, 30, 0.5)); */
    border-radius:50%;
    box-shadow:rgb(1, 137, 137, 0.4) 5px 5px, rgb(1, 137, 137, 0.3) 10px 10px, rgb(1, 137, 137, 0.2) 15px 15px, rgb(1, 137, 137, 0.1) 20px 20px, rgb(1, 137, 137, 0.05) 25px 25px; 
}
.photo{
    width: 100%;
}
.Hamburger{
  padding:2em;
}
.box{
    padding:3em 8em;
    display: flex;
    width: 100%;
    height: 700px;

}
.box2, .box3, .box4, .box5, .box6{
    padding:5em 8em;
    display: flex;
    width: 100%;
}
.box1{
    background-color:lightskyblue;
    padding-left: 3em;
}
.box2{
    background-color:lightskyblue;
    border-bottom: 1px solid white;
}
.box2 img{
    box-shadow: 0.5rem 0.5rem darkslategrey, -0.5rem -0.5rem whitesmoke;
}
.skillused{
  display:flex;
  color:#fff;
  width: 100%;
}
.box3{
    background-color:lightgreen;
}
.box5{
    background-color:darkslategray;
    color: white;
}
.box6{
    background-color:gold;
}

.left{
    flex: 50%;
    padding-right: 5em;
}

.right{
    flex: 50%;
    padding-right: 2em;
}
.content{
  margin-bottom: 3em;
}
.btn{
    text-decoration: none;
    background-color:lightskyblue;
    color: white;
    padding: 0.25em 0.5em;
    border-radius: 10px;
    border: 2px solid #fff;
}
.btn:hover{
    background-color:darkcyan;
}

.icon{
  padding-right: 1em;
}
.icon:hover{
  filter: drop-shadow(0.2rem 0.2rem 0.7rem rgba(255, 255, 255, 0.9));
}

.SkillTag{
  display: flex;
}

#medias{
    display: flex;
}
.link, .link:visited{
    text-decoration: none;
    color: darkslategrey; 
}
.link:hover{
    color:darkcyan;
}

#copyright{
    padding-left: 8em;
}

#menu-toggle, a.Hamburger, a.icon{
    color:white;
    text-decoration: none;
}
#myLinks{
    display: none;
    padding-left: 3em;
    margin:0;   
}
#myLinks a:link, #myLinks a:visited, #myLinks a:active{
    color: rgb(255, 250, 100);
    text-decoration:none;
}
#myLinks a:hover {
    text-decoration: underline;
    color: white;
}
#myLinks ul {
    margin:0;        
}
#myLinks li{
    display: block;
    padding: 0.5em 0em;
}




@media screen and (max-width:768px){
    .left, .right{
        padding:1em 2em;
    }
    .box, .box2, .box3, .box4, .box5, .box6{
        padding:1em 1.5em;
        width: 100%;
    }
    .box1{
        padding-left: 1em;
    }
    .profile{
        width: 100%;
    }
    #copyright{
        padding-left: 1em;
    }

}

@media screen and (max-width:480px) {
    #menu-toggle{
        display: block;
        color: white;
    }
    #main-menu{
        display: none;
    }
    .left, .right{
        flex:100%;
        padding:1em 0;
    }
    .box{
        height:auto;
    }
    .box, .box2, .box3, .box4, .box6{
        flex-direction: column;
        width: 100%;
    }
    .box5{
        flex-direction:column-reverse;
        width: 100%;
    }
    
    h1{
        padding-top: 2em;
    }
    
    
}



@keyframes openclose {
    0% {
   
      width: 0;
    }
    15% {

      width: 230px;
    }
    30% {

      width: 230px;
    }
    86% {

      width: 80%;
    }
    95% {

      width: 100%;
    }
    98% {

      width: 50%;

    }
    100% {

      width: 10%;
    }
  }

  @keyframes grow {
    0%{
        width: 0;
    }
    100%{
        max-width: 100%;
    }
  }
